In [1]:
import pandas as pd
import numpy as np

In [54]:
points = pd.read_csv(r"C:\Users\nalab\Desktop\Lectures\CISC451/capital-planning-points.csv")
points.head()

,Organization,Capital Program,Program Subclass,Project Status,Project Title,Project Description,Project Planning From,Project Planning To,Planned Construction From,Planned Construction To,Construction Completion From,Construction Completion To,Project URL,SDE ID,GeoJSON,geo_point_2d
0,Parks and Development,Parks and Development,Existing Parks,Project Complete,Meadowbrook Park playground and woodland impro...,"Playground upgrades, a new pathway and selecti...",NaN,NaN,2017-01-01T00:00:00-05:00,2017-12-31T00:00:00-05:00,2018-06-01,NaN,NaN,23,"{""coordinates"": [-76.54482220079392, 44.246199...","44.24619953004766,-76.54482220079392"
1,Utilities Kingston,Utilities Facility Upgrade,Electric,Project Complete,TV 8 Electric Upgrade,Rebuilt Top Slab & Upgrade Equipment,NaN,NaN,2014-12-31T00:00:00-05:00,2016-12-30T00:00:00-05:00,NaN,NaN,NaN,107,"{""coordinates"": [-76.4874069923466, 44.2324056...","44.232405663881146,-76.4874069923466"
2,City Engineering,Storm System Improvements,Drainage Improvements,In Planning and Design Phase,Reddendale Drainage Improvements,Reddendale Drainage Improvements - Lakeshore B...,2020-01-01,2020-12-31,2020-01-02T00:00:00-05:00,2023-12-30T00:00:00-05:00,NaN,NaN,NaN,46576,"{""coordinates"": [-76.57471298017737, 44.216690...","44.216690519641034,-76.57471298017737"
3,City Engineering,Storm System Improvements,Drainage Improvements,In Planning and Design Phase,Reddendale Drainage Improvements,Reddendale Drainage Improvements - Montgomery ...,2020-01-01,2020-12-31,2020-01-02T00:00:00-05:00,2023-12-30T00:00:00-05:00,NaN,NaN,NaN,46577,"{""coordinates"": [-76.56558852654474, 44.216577...","44.21657727329574,-76.56558852654474"
4,Utilities Kingston,Utilties Rehabilitation,Wastewater,Under Construction,Repair & Rehabilitate Roof on Digester 2 & 3 a...,Structural repairs to the concrete roof struct...,2016-01-01,2016-12-31,2018-09-30T00:00:00-04:00,2019-05-30T00:00:00-04:00,NaN,NaN,NaN,130,"{""coordinates"": [-76.42038422609018, 44.241878...","44.24187802720432,-76.42038422609018"

First I will use the points dataset and create a new column of a 3km square surrounding each point. This will be the capture area. 

The excerpt below was taken from https://stackoverflow.com/questions/4000886/gps-coordinates-1km-square-around-a-point:

Degrees of latitude have the same linear distance anywhere in the world, because all lines of latitude are the same size. So 1 degree of latitude is equal to 1/360th of the circumference of the Earth, which is 1/360th of 40,075 km.

The length of a lines of longitude depends on the latitude. The line of longitude at latitude l will be cos(l)*40,075 km. One degree of longitude will be 1/360th of that.

So you can work backwards from that. Assuming you want something very close to one square kilometre, you'll want 1 * (360/40075) = 0.008983 degrees of latitude.

At your example latitude of 53.38292839, the line of longitude will be cos(53.38292839)*40075 = [approx] 23903.297 km long. So 1 km is 1 * (360/23903.297) = 0.015060 degrees.

In [55]:
#first change column of geo_point to lat and lon columns

split = points['geo_point_2d'].str.split(',', expand =True)
split.columns = ['lat', 'lon']
split = split.astype(float)

points = pd.concat([points,split], axis=1)
points.head()

,Organization,Capital Program,Program Subclass,Project Status,Project Title,Project Description,Project Planning From,Project Planning To,Planned Construction From,Planned Construction To,Construction Completion From,Construction Completion To,Project URL,SDE ID,GeoJSON,geo_point_2d,lat,lon
0,Parks and Development,Parks and Development,Existing Parks,Project Complete,Meadowbrook Park playground and woodland impro...,"Playground upgrades, a new pathway and selecti...",NaN,NaN,2017-01-01T00:00:00-05:00,2017-12-31T00:00:00-05:00,2018-06-01,NaN,NaN,23,"{""coordinates"": [-76.54482220079392, 44.246199...","44.24619953004766,-76.54482220079392",44.246200,-76.544822
1,Utilities Kingston,Utilities Facility Upgrade,Electric,Project Complete,TV 8 Electric Upgrade,Rebuilt Top Slab & Upgrade Equipment,NaN,NaN,2014-12-31T00:00:00-05:00,2016-12-30T00:00:00-05:00,NaN,NaN,NaN,107,"{""coordinates"": [-76.4874069923466, 44.2324056...","44.232405663881146,-76.4874069923466",44.232406,-76.487407
2,City Engineering,Storm System Improvements,Drainage Improvements,In Planning and Design Phase,Reddendale Drainage Improvements,Reddendale Drainage Improvements - Lakeshore B...,2020-01-01,2020-12-31,2020-01-02T00:00:00-05:00,2023-12-30T00:00:00-05:00,NaN,NaN,NaN,46576,"{""coordinates"": [-76.57471298017737, 44.216690...","44.216690519641034,-76.57471298017737",44.216691,-76.574713
3,City Engineering,Storm System Improvements,Drainage Improvements,In Planning and Design Phase,Reddendale Drainage Improvements,Reddendale Drainage Improvements - Montgomery ...,2020-01-01,2020-12-31,2020-01-02T00:00:00-05:00,2023-12-30T00:00:00-05:00,NaN,NaN,NaN,46577,"{""coordinates"": [-76.56558852654474, 44.216577...","44.21657727329574,-76.56558852654474",44.216577,-76.565589
4,Utilities Kingston,Utilties Rehabilitation,Wastewater,Under Construction,Repair & Rehabilitate Roof on Digester 2 & 3 a...,Structural repairs to the concrete roof struct...,2016-01-01,2016-12-31,2018-09-30T00:00:00-04:00,2019-05-30T00:00:00-04:00,NaN,NaN,NaN,130,"{""coordinates"": [-76.42038422609018, 44.241878...","44.24187802720432,-76.42038422609018",44.241878,-76.420384

In [56]:
#here we create a function to create a rectangle given corrdinate pairs
from collections import namedtuple
import math
Rectangle = namedtuple('Rectangle', 'xmin ymin xmax ymax')

rectangles = []
for i in range(len(points)):
    x = points.iloc[0,17]
    y = points.iloc[0,16]

    xmin = x - 1.5 * (360/40075)
    xmax = x + 1.5 * (360/40075)

    ymin = y - 1.5*360/(math.cos(math.radians(x))*40075) 
    ymax = y + 1.5*360/(math.cos(math.radians(x))*40075)

    z = Rectangle(xmin,ymin,xmax,ymax)
    rectangles.append(z)
    
points["rect"] = rectangles

In [57]:
points.head()

,Organization,Capital Program,Program Subclass,Project Status,Project Title,Project Description,Project Planning From,Project Planning To,Planned Construction From,Planned Construction To,Construction Completion From,Construction Completion To,Project URL,SDE ID,GeoJSON,geo_point_2d,lat,lon,rect
0,Parks and Development,Parks and Development,Existing Parks,Project Complete,Meadowbrook Park playground and woodland impro...,"Playground upgrades, a new pathway and selecti...",NaN,NaN,2017-01-01T00:00:00-05:00,2017-12-31T00:00:00-05:00,2018-06-01,NaN,NaN,23,"{""coordinates"": [-76.54482220079392, 44.246199...","44.24619953004766,-76.54482220079392",44.246200,-76.544822,"(-76.55829693566604, 44.188289663410536, -76.5..."
1,Utilities Kingston,Utilities Facility Upgrade,Electric,Project Complete,TV 8 Electric Upgrade,Rebuilt Top Slab & Upgrade Equipment,NaN,NaN,2014-12-31T00:00:00-05:00,2016-12-30T00:00:00-05:00,NaN,NaN,NaN,107,"{""coordinates"": [-76.4874069923466, 44.2324056...","44.232405663881146,-76.4874069923466",44.232406,-76.487407,"(-76.55829693566604, 44.188289663410536, -76.5..."
2,City Engineering,Storm System Improvements,Drainage Improvements,In Planning and Design Phase,Reddendale Drainage Improvements,Reddendale Drainage Improvements - Lakeshore B...,2020-01-01,2020-12-31,2020-01-02T00:00:00-05:00,2023-12-30T00:00:00-05:00,NaN,NaN,NaN,46576,"{""coordinates"": [-76.57471298017737, 44.216690...","44.216690519641034,-76.57471298017737",44.216691,-76.574713,"(-76.55829693566604, 44.188289663410536, -76.5..."
3,City Engineering,Storm System Improvements,Drainage Improvements,In Planning and Design Phase,Reddendale Drainage Improvements,Reddendale Drainage Improvements - Montgomery ...,2020-01-01,2020-12-31,2020-01-02T00:00:00-05:00,2023-12-30T00:00:00-05:00,NaN,NaN,NaN,46577,"{""coordinates"": [-76.56558852654474, 44.216577...","44.21657727329574,-76.56558852654474",44.216577,-76.565589,"(-76.55829693566604, 44.188289663410536, -76.5..."
4,Utilities Kingston,Utilties Rehabilitation,Wastewater,Under Construction,Repair & Rehabilitate Roof on Digester 2 & 3 a...,Structural repairs to the concrete roof struct...,2016-01-01,2016-12-31,2018-09-30T00:00:00-04:00,2019-05-30T00:00:00-04:00,NaN,NaN,NaN,130,"{""coordinates"": [-76.42038422609018, 44.241878...","44.24187802720432,-76.42038422609018",44.241878,-76.420384,"(-76.55829693566604, 44.188289663410536, -76.5..."

In [58]:
lines = pd.read_csv(r"C:\Users\nalab\Desktop\Lectures\CISC451/capital-planning-lines.csv")

split = lines['geo_point_2d'].str.split(',', expand =True)
split.columns = ['lat', 'lon']
split = split.astype(float)

lines = pd.concat([lines,split], axis=1)
lines.head()

,Organization,Capital Program,Program Subclass,Project Status,Project Title,Project Planning From,Project Planning To,Planned Construction From,Planned Construction To,Construction Completion From,Construction Completion To,Project Description,Project URL,SDE ID,GeoJSON,geo_point_2d,lat,lon
0,Transportation Services,Active Transportation,Sidewalk Rehabilitation,Project Complete,Stephen St Sidewalk Rehabilitation,2019-01-01,2019-12-31,2019-01-01T00:00:00-05:00,2019-12-31T00:00:00-05:00,2019-01-01,2019-12-31,Stephen St Sidewalk Rehabilitation,NaN,3397,"{""coordinates"": [[-76.49204861904133, 44.24219...","44.24236289429908,-76.49107653137473",44.242363,-76.491077
1,City Engineering,Road Rehabilitation,Local Repair / Preventative Maintenance,Project Complete,Mowat Ave Road Repair,2019-01-01,2019-12-31,2019-01-01T00:00:00-05:00,2019-12-31T00:00:00-05:00,2019-01-01,2019-12-31,"Catch basin repair, drainage improvement and p...",NaN,5316,"{""coordinates"": [[-76.51978712616973, 44.21849...","44.21798472099407,-76.5197368582046",44.217985,-76.519737
2,Utilities Kingston,Utilities Construction,Electrical,Project Complete,Electric - Pole Line Design - Bagot Street,2016-01-01,2016-12-31,2017-01-01T00:00:00-05:00,2017-12-31T00:00:00-05:00,NaN,NaN,Pole line design on Bagot St. from Barrack to ...,NaN,174,"{""coordinates"": [[-76.48390292767102, 44.23461...","44.234198239693896,-76.48389373175033",44.234198,-76.483894
3,Utilities Kingston,Utilities Construction,Electrical,Project Complete,Electric - 5kV 204 Circuit Line Extension,NaN,NaN,2015-01-01T00:00:00-05:00,2015-12-31T00:00:00-05:00,2015-01-01,2015-12-31,Additional information to be provided by Utili...,NaN,55,"{""coordinates"": [[-76.49575855274901, 44.23255...","44.23273554026161,-76.496678220481",44.232736,-76.496678
4,Utilities Kingston,Utilties Rehabilitation,Water,Project Complete,2018 Watermain Relining Project,2017-01-01,2017-12-31,2018-01-01T00:00:00-05:00,2018-12-31T00:00:00-05:00,NaN,NaN,"Watermain relining on Indian Rd, from Old Quar...",NaN,88,"{""coordinates"": [[-76.5275737891102, 44.251537...","44.254345480085554,-76.52695097969684",44.254345,-76.526951

In [59]:
lines["GeoJSON"] = lines["GeoJSON"].replace({'\[':''}, regex=True)
lines["GeoJSON"] = lines["GeoJSON"].replace({'\]':''}, regex=True)
lines["GeoJSON"] = lines["GeoJSON"].replace({'{"coordinates":':''}, regex=True)

rectangles = []
for i in range(len(lines)):
    my_list = lines["GeoJSON"][i].split(",")
    my_list.pop()
    results = list(map(float, my_list))
    xmin = min([i for i in results if i < 0 ]) - 1.5 * (360/40075)
    xmax = max([i for i in results if i < 0 ]) + 1.5 * (360/40075)
    ymin = min([i for i in results if i > 0 ]) - 1.5*360/(math.cos(math.radians(xmin))*40075) 
    ymax = max([i for i in results if i > 0 ]) + 1.5*360/(math.cos(math.radians(xmin))*40075) 
    z = Rectangle(xmin,ymin,xmax,ymax)
    rectangles.append(z)

lines["rect"] = rectangles

In [60]:
lines.head()

,Organization,Capital Program,Program Subclass,Project Status,Project Title,Project Planning From,Project Planning To,Planned Construction From,Planned Construction To,Construction Completion From,Construction Completion To,Project Description,Project URL,SDE ID,GeoJSON,geo_point_2d,lat,lon,rect
0,Transportation Services,Active Transportation,Sidewalk Rehabilitation,Project Complete,Stephen St Sidewalk Rehabilitation,2019-01-01,2019-12-31,2019-01-01T00:00:00-05:00,2019-12-31T00:00:00-05:00,2019-01-01,2019-12-31,Stephen St Sidewalk Rehabilitation,NaN,3397,"-76.49204861904133, 44.242194394852525, -76.4...","44.24236289429908,-76.49107653137473",44.242363,-76.491077,"(-76.50552335391345, 44.184450058011656, -76.4..."
1,City Engineering,Road Rehabilitation,Local Repair / Preventative Maintenance,Project Complete,Mowat Ave Road Repair,2019-01-01,2019-12-31,2019-01-01T00:00:00-05:00,2019-12-31T00:00:00-05:00,2019-01-01,2019-12-31,"Catch basin repair, drainage improvement and p...",NaN,5316,"-76.51978712616973, 44.21849024136085, -76.51...","44.21798472099407,-76.5197368582046",44.217985,-76.519737,"(-76.53326186104185, 44.15961812830626, -76.50..."
2,Utilities Kingston,Utilities Construction,Electrical,Project Complete,Electric - Pole Line Design - Bagot Street,2016-01-01,2016-12-31,2017-01-01T00:00:00-05:00,2017-12-31T00:00:00-05:00,NaN,NaN,Pole line design on Bagot St. from Barrack to ...,NaN,174,"-76.48390292767102, 44.234613433332335, -76.4...","44.234198239693896,-76.48389373175033",44.234198,-76.483894,"(-76.49737766254314, 44.17607289777649, -76.47..."
3,Utilities Kingston,Utilities Construction,Electrical,Project Complete,Electric - 5kV 204 Circuit Line Extension,NaN,NaN,2015-01-01T00:00:00-05:00,2015-12-31T00:00:00-05:00,2015-01-01,2015-12-31,Additional information to be provided by Utili...,NaN,55,"-76.49575855274901, 44.23255890602945, -76.49...","44.23273554026161,-76.496678220481",44.232736,-76.496678,"(-76.51106043407276, 44.17479130551603, -76.48..."
4,Utilities Kingston,Utilties Rehabilitation,Water,Project Complete,2018 Watermain Relining Project,2017-01-01,2017-12-31,2018-01-01T00:00:00-05:00,2018-12-31T00:00:00-05:00,NaN,NaN,"Watermain relining on Indian Rd, from Old Quar...",NaN,88,"-76.5275737891102, 44.25153745318846, -76.527...","44.254345480085554,-76.52695097969684",44.254345,-76.526951,"(-76.54107776130475, 44.19364340048883, -76.51..."

In [61]:
print(lines.shape)
print(points.shape)

dat = lines.append(points)
print(dat.shape)
dat.head()

(348, 19)
(156, 19)
(504, 19)

,Organization,Capital Program,Program Subclass,Project Status,Project Title,Project Planning From,Project Planning To,Planned Construction From,Planned Construction To,Construction Completion From,Construction Completion To,Project Description,Project URL,SDE ID,GeoJSON,geo_point_2d,lat,lon,rect
0,Transportation Services,Active Transportation,Sidewalk Rehabilitation,Project Complete,Stephen St Sidewalk Rehabilitation,2019-01-01,2019-12-31,2019-01-01T00:00:00-05:00,2019-12-31T00:00:00-05:00,2019-01-01,2019-12-31,Stephen St Sidewalk Rehabilitation,NaN,3397,"-76.49204861904133, 44.242194394852525, -76.4...","44.24236289429908,-76.49107653137473",44.242363,-76.491077,"(-76.50552335391345, 44.184450058011656, -76.4..."
1,City Engineering,Road Rehabilitation,Local Repair / Preventative Maintenance,Project Complete,Mowat Ave Road Repair,2019-01-01,2019-12-31,2019-01-01T00:00:00-05:00,2019-12-31T00:00:00-05:00,2019-01-01,2019-12-31,"Catch basin repair, drainage improvement and p...",NaN,5316,"-76.51978712616973, 44.21849024136085, -76.51...","44.21798472099407,-76.5197368582046",44.217985,-76.519737,"(-76.53326186104185, 44.15961812830626, -76.50..."
2,Utilities Kingston,Utilities Construction,Electrical,Project Complete,Electric - Pole Line Design - Bagot Street,2016-01-01,2016-12-31,2017-01-01T00:00:00-05:00,2017-12-31T00:00:00-05:00,NaN,NaN,Pole line design on Bagot St. from Barrack to ...,NaN,174,"-76.48390292767102, 44.234613433332335, -76.4...","44.234198239693896,-76.48389373175033",44.234198,-76.483894,"(-76.49737766254314, 44.17607289777649, -76.47..."
3,Utilities Kingston,Utilities Construction,Electrical,Project Complete,Electric - 5kV 204 Circuit Line Extension,NaN,NaN,2015-01-01T00:00:00-05:00,2015-12-31T00:00:00-05:00,2015-01-01,2015-12-31,Additional information to be provided by Utili...,NaN,55,"-76.49575855274901, 44.23255890602945, -76.49...","44.23273554026161,-76.496678220481",44.232736,-76.496678,"(-76.51106043407276, 44.17479130551603, -76.48..."
4,Utilities Kingston,Utilties Rehabilitation,Water,Project Complete,2018 Watermain Relining Project,2017-01-01,2017-12-31,2018-01-01T00:00:00-05:00,2018-12-31T00:00:00-05:00,NaN,NaN,"Watermain relining on Indian Rd, from Old Quar...",NaN,88,"-76.5275737891102, 44.25153745318846, -76.527...","44.254345480085554,-76.52695097969684",44.254345,-76.526951,"(-76.54107776130475, 44.19364340048883, -76.51..."

In [62]:
dat.groupby('Project Status').count()
#We will use projects under construction and project complete

,Organization,Capital Program,Program Subclass,Project Title,Project Planning From,Project Planning To,Planned Construction From,Planned Construction To,Construction Completion From,Construction Completion To,Project Description,Project URL,SDE ID,GeoJSON,geo_point_2d,lat,lon,rect
Project Status,,,,,,,,,,,,,,,,,,
Deferred,4,4,4,4,1,1,4,4,0,0,4,0,4,4,4,4,4,4
In Planning and Design Phase,126,126,126,126,38,38,126,126,7,7,116,30,126,126,126,126,126,126
Pre-Planning,18,18,18,18,1,1,18,18,3,3,16,1,18,18,18,18,18,18
Project Complete,254,256,256,256,143,143,256,256,108,106,246,74,256,256,256,256,256,256
Under Construction,58,58,58,58,18,17,58,58,5,5,56,21,58,58,58,58,58,58

In [63]:
values = ["Project Complete", "Under Construction"]
dat = dat.loc[dat['Project Status'].isin(values)]
dat.shape

(314, 19)

In [64]:
dat["Planned Construction To"] = dat["Planned Construction To"].str[:10]
dat["Planned Construction From"] = dat["Planned Construction From"].str[:10]

datefrom = []
dateto = []
for i in range(len(dat)):
    f = dat.iloc[i,9]
    t = dat.iloc[i,10]
    if pd.isnull(f) == True:
        datefrom.append(dat.iloc[i,7])
    else:
        datefrom.append(f)
        
    if pd.isnull(t) == True:
        dateto.append(dat.iloc[i,8])
    else:
        dateto.append(t)
        
dat["start"] = pd.to_datetime(datefrom)
dat["end"] = pd.to_datetime(dateto)
dat["duration"] = dat["end"] - dat["start"]

In [65]:
dat["prior"] = dat['start'] - pd.DateOffset(years=1)
dat.head()

,Organization,Capital Program,Program Subclass,Project Status,Project Title,Project Planning From,Project Planning To,Planned Construction From,Planned Construction To,Construction Completion From,...,SDE ID,GeoJSON,geo_point_2d,lat,lon,rect,start,end,duration,prior
0,Transportation Services,Active Transportation,Sidewalk Rehabilitation,Project Complete,Stephen St Sidewalk Rehabilitation,2019-01-01,2019-12-31,2019-01-01,2019-12-31,2019-01-01,...,3397,"-76.49204861904133, 44.242194394852525, -76.4...","44.24236289429908,-76.49107653137473",44.242363,-76.491077,"(-76.50552335391345, 44.184450058011656, -76.4...",2019-01-01,2019-12-31,364 days,2018-01-01
1,City Engineering,Road Rehabilitation,Local Repair / Preventative Maintenance,Project Complete,Mowat Ave Road Repair,2019-01-01,2019-12-31,2019-01-01,2019-12-31,2019-01-01,...,5316,"-76.51978712616973, 44.21849024136085, -76.51...","44.21798472099407,-76.5197368582046",44.217985,-76.519737,"(-76.53326186104185, 44.15961812830626, -76.50...",2019-01-01,2019-12-31,364 days,2018-01-01
2,Utilities Kingston,Utilities Construction,Electrical,Project Complete,Electric - Pole Line Design - Bagot Street,2016-01-01,2016-12-31,2017-01-01,2017-12-31,NaN,...,174,"-76.48390292767102, 44.234613433332335, -76.4...","44.234198239693896,-76.48389373175033",44.234198,-76.483894,"(-76.49737766254314, 44.17607289777649, -76.47...",2017-01-01,2017-12-31,364 days,2016-01-01
3,Utilities Kingston,Utilities Construction,Electrical,Project Complete,Electric - 5kV 204 Circuit Line Extension,NaN,NaN,2015-01-01,2015-12-31,2015-01-01,...,55,"-76.49575855274901, 44.23255890602945, -76.49...","44.23273554026161,-76.496678220481",44.232736,-76.496678,"(-76.51106043407276, 44.17479130551603, -76.48...",2015-01-01,2015-12-31,364 days,2014-01-01
4,Utilities Kingston,Utilties Rehabilitation,Water,Project Complete,2018 Watermain Relining Project,2017-01-01,2017-12-31,2018-01-01,2018-12-31,NaN,...,88,"-76.5275737891102, 44.25153745318846, -76.527...","44.254345480085554,-76.52695097969684",44.254345,-76.526951,"(-76.54107776130475, 44.19364340048883, -76.51...",2018-01-01,2018-12-31,364 days,2017-01-01

In [14]:
traffic = pd.read_csv(r"C:\Users\nalab\Desktop\Lectures\CISC451/Copy of AADT Intersections February 2022.csv")
traffic.head()

,Intersection,AADT Year,North Approach AADT,South Approach AADT,East Approach AADT,West Approach AADT
0,MONTREAL STREET @ JOHN COUNTER BOULEVARD (900121),2010,"14,215","15,550",785,"9,648"
1,PRINCESS STREET @ DIVISION STREET (900208),2010,"13,628","7,476","7,935","14,355"
2,TAYLOR-KIDD BOULEVARD @ WATERLOO DRIVE (900517),2010,"2,473",0,"19,220","18,678"
3,COUNTY ROAD 2 @ NIAGARA PARK DRIVE (900965),2010,"4,207","7,544","9,606","14,299"
4,EARL STREET @ WILLINGDON AVENUE (904255),2010,486,481,664,569

In [20]:
intersections = traffic['Intersection'].unique()
intersections = pd.DataFrame(intersections.tolist(), columns=['Intersection'])
intersections["GOOGLE"] = intersections["intersection"].str[:-9]
intersections["GOOGLE"] = intersections["GOOGLE"] + ", Kingston Ontario"
intersections.head()

,intersection,GOOGLE
0,MONTREAL STREET @ JOHN COUNTER BOULEVARD (900121),"MONTREAL STREET @ JOHN COUNTER BOULEVARD, King..."
1,PRINCESS STREET @ DIVISION STREET (900208),"PRINCESS STREET @ DIVISION STREET, Kingston, O..."
2,TAYLOR-KIDD BOULEVARD @ WATERLOO DRIVE (900517),"TAYLOR-KIDD BOULEVARD @ WATERLOO DRIVE, Kingst..."
3,COUNTY ROAD 2 @ NIAGARA PARK DRIVE (900965),"COUNTY ROAD 2 @ NIAGARA PARK DRIVE, Kingston, ..."
4,EARL STREET @ WILLINGDON AVENUE (904255),"EARL STREET @ WILLINGDON AVENUE, Kingston, Ont..."

In [26]:
#careful before running this as to not run out of API requests
import requests
api_key = "AIzaSyCH25dCZqvN1TgNToJUSes6X3zi-zsWiCg"
base_url = "https://maps.googleapis.com/maps/api/geocode/json"

coordinates = []
north = []
south = []
west = []
east = []

for i in range(len(intersections)):
    x = intersections.iloc[i,1]
    endpoint = f"{base_url}?address={x}&key={api_key}"
    r = requests.get(endpoint)
    results = r.json()['results'][0]
    lat = results['geometry']['location']['lat']
    lng = results['geometry']['location']['lng']
    coordinates.append([lat,lng])
    
    w = lng - 1.5 * (360/40075)
    west.append([lat,w])
    e = lng + 1.5 * (360/40075)
    east.append([lat,e])
    n = lat + 1.5*360/(math.cos(math.radians(lng))*40075)
    north.append([n,lng])
    s = lat - 1.5*360/(math.cos(math.radians(lng))*40075)
    south.append([s,lng])
    
intersections["coords"] = coordinates
intersections["north"] = north
intersections["south"] = south
intersections["west"] = west
intersections["east"] = east
intersections.head()

,intersection,GOOGLE,coords,north,south,west,east
0,MONTREAL STREET @ JOHN COUNTER BOULEVARD (900121),"MONTREAL STREET @ JOHN COUNTER BOULEVARD, King...","[44.2572695, -76.4829019]","[44.31491899422332, -76.4829019]","[44.19962000577668, -76.4829019]","[44.2572695, -76.49637663487212]","[44.2572695, -76.46942716512788]"
1,PRINCESS STREET @ DIVISION STREET (900208),"PRINCESS STREET @ DIVISION STREET, Kingston, O...","[44.2334404, -76.49304269999999]","[44.291132370833466, -76.49304269999999]","[44.17574842916653, -76.49304269999999]","[44.2334404, -76.50651743487211]","[44.2334404, -76.47956796512787]"
2,TAYLOR-KIDD BOULEVARD @ WATERLOO DRIVE (900517),"TAYLOR-KIDD BOULEVARD @ WATERLOO DRIVE, Kingst...","[44.2518454, -76.5471285]","[44.30976501128217, -76.5471285]","[44.193925788717834, -76.5471285]","[44.2518454, -76.56060323487212]","[44.2518454, -76.53365376512788]"
3,COUNTY ROAD 2 @ NIAGARA PARK DRIVE (900965),"COUNTY ROAD 2 @ NIAGARA PARK DRIVE, Kingston, ...","[44.2353036, -76.45273689999999]","[44.29282712213851, -76.45273689999999]","[44.17778007786149, -76.45273689999999]","[44.2353036, -76.46621163487211]","[44.2353036, -76.43926216512787]"
4,EARL STREET @ WILLINGDON AVENUE (904255),"EARL STREET @ WILLINGDON AVENUE, Kingston, Ont...","[44.2294881, -76.5079102]","[44.287242462651164, -76.5079102]","[44.17173373734883, -76.5079102]","[44.2294881, -76.52138493487212]","[44.2294881, -76.49443546512788]"

In [27]:
intersections.to_csv(r"C:\Users\nalab\Desktop\Lectures\CISC451/intersections.csv")

In [32]:
intersections.rename(columns={'intersection':'Intersection'}, inplace=True)

In [34]:
print(len(intersections))
print(len(traffic))

449
676

In [35]:
traffic = traffic.merge(intersections, on = "Intersection")
print(traffic.shape)

(676, 12)

In [39]:
traffic.shape

(676, 12)

In [42]:
service = pd.read_csv(r"C:\Users\nalab\Desktop\Lectures\CISC451/service-requests.csv", low_memory = False)
service.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131095 entries, 0 to 131094
Data columns (total 27 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Service Request ID            131095 non-null  int64
 1   Reference Number              131095 non-null  object
 2   Electoral District            131095 non-null  object
 3   Channel                       131092 non-null  object
 4   Date Closed                   129207 non-null  object
 5   Date Created                  131095 non-null  object
 6   Date Last Updated             131095 non-null  object
 7   Latitude                      39374 non-null   float64
 8   Longitude                     39374 non-null   float64
 9   Status                        131095 non-null  object
 10  GeoJSON                       39348 non-null   object
 11  Service Type                  131095 non-null  object
 12  Service Level 1               131095 non-null  object
 13  Service Level 2               131073 non-null  object
 14  Service Level 3               104948 non-null  object
 15  Service Level 4               31477 non-null   object
 16  Service Level 5               5353 non-null    object
 17  First-call Resolution         131094 non-null  object
 18  Customer Survey - CES Score   4309 non-null    float64
 19  CES Answer Text               4309 non-null    object
 20  Customer Survey - CSAT Score  4308 non-null    float64
 21  CSAT Answer Text              4308 non-null    object
 22  Customer Survey - NPS Score   4318 non-null    float64
 23  NPS Answer Text               4318 non-null    object
 24  Customer Survey - CTL Score   4383 non-null    float64
 25  CTL Answer Text               4383 non-null    object
 26  geo_point_2d                  39348 non-null   object
dtypes: float64(6), int64(1), object(20)
memory usage: 27.0+ MB

In [73]:
service = service[service['Latitude'].notna()]
service["Date Created"] = pd.to_datetime(service["Date Created"])
service.shape

(39374, 27)

In [66]:
dat.head()

,Organization,Capital Program,Program Subclass,Project Status,Project Title,Project Planning From,Project Planning To,Planned Construction From,Planned Construction To,Construction Completion From,...,SDE ID,GeoJSON,geo_point_2d,lat,lon,rect,start,end,duration,prior
0,Transportation Services,Active Transportation,Sidewalk Rehabilitation,Project Complete,Stephen St Sidewalk Rehabilitation,2019-01-01,2019-12-31,2019-01-01,2019-12-31,2019-01-01,...,3397,"-76.49204861904133, 44.242194394852525, -76.4...","44.24236289429908,-76.49107653137473",44.242363,-76.491077,"(-76.50552335391345, 44.184450058011656, -76.4...",2019-01-01,2019-12-31,364 days,2018-01-01
1,City Engineering,Road Rehabilitation,Local Repair / Preventative Maintenance,Project Complete,Mowat Ave Road Repair,2019-01-01,2019-12-31,2019-01-01,2019-12-31,2019-01-01,...,5316,"-76.51978712616973, 44.21849024136085, -76.51...","44.21798472099407,-76.5197368582046",44.217985,-76.519737,"(-76.53326186104185, 44.15961812830626, -76.50...",2019-01-01,2019-12-31,364 days,2018-01-01
2,Utilities Kingston,Utilities Construction,Electrical,Project Complete,Electric - Pole Line Design - Bagot Street,2016-01-01,2016-12-31,2017-01-01,2017-12-31,NaN,...,174,"-76.48390292767102, 44.234613433332335, -76.4...","44.234198239693896,-76.48389373175033",44.234198,-76.483894,"(-76.49737766254314, 44.17607289777649, -76.47...",2017-01-01,2017-12-31,364 days,2016-01-01
3,Utilities Kingston,Utilities Construction,Electrical,Project Complete,Electric - 5kV 204 Circuit Line Extension,NaN,NaN,2015-01-01,2015-12-31,2015-01-01,...,55,"-76.49575855274901, 44.23255890602945, -76.49...","44.23273554026161,-76.496678220481",44.232736,-76.496678,"(-76.51106043407276, 44.17479130551603, -76.48...",2015-01-01,2015-12-31,364 days,2014-01-01
4,Utilities Kingston,Utilties Rehabilitation,Water,Project Complete,2018 Watermain Relining Project,2017-01-01,2017-12-31,2018-01-01,2018-12-31,NaN,...,88,"-76.5275737891102, 44.25153745318846, -76.527...","44.254345480085554,-76.52695097969684",44.254345,-76.526951,"(-76.54107776130475, 44.19364340048883, -76.51...",2018-01-01,2018-12-31,364 days,2017-01-01

In [85]:
def check(a, x, y):
    b = (a.xmin < x < a.xmax) and (a.ymin < y < a.ymax)
    return b

during = []
prior = []
for i in range(len(dat)):
    print(i)
    rect = dat.iloc[i,18]
    prioryear = dat.iloc[i,22].year
    duringyear = dat.iloc[i,19].year
    prior_count = 0
    during_count = 0 
    for j in range(len(service[pd.DatetimeIndex(service["Date Created"]).year == prioryear])):
        if check(rect, 
                 service[pd.DatetimeIndex(service["Date Created"]).year == prioryear].iloc[j,8], 
                 service[pd.DatetimeIndex(service["Date Created"]).year == prioryear].iloc[j,7]) == True:
            prior_count = prior_count + 1
    
    prior.append(prior_count)

    for j in range(len(service[pd.DatetimeIndex(service["Date Created"]).year == duringyear])):
        if check(rect, 
                 service[pd.DatetimeIndex(service["Date Created"]).year == duringyear].iloc[j,8], 
                 service[pd.DatetimeIndex(service["Date Created"]).year == duringyear].iloc[j,7]) == True:
            during_count = during_count + 1
    
    during.append(during_count)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313

In [88]:
dat["prior_requests"] = prior

In [89]:
dat.to_csv(r"C:\Users\nalab\Desktop\Lectures\CISC451/temp1.csv")

In [90]:
def check(a, x, y):
    b = (a.xmin < x < a.xmax) and (a.ymin < y < a.ymax)
    return b

during = []
#prior = []
for i in range(len(dat)):
    print(i)
    rect = dat.iloc[i,18]
    #prioryear = dat.iloc[i,22].year
    duringyear = dat.iloc[i,19].year
    #prior_count = 0
    during_count = 0 
    
    for j in range(len(service[pd.DatetimeIndex(service["Date Created"]).year == duringyear])):
        if check(rect, 
                 service[pd.DatetimeIndex(service["Date Created"]).year == duringyear].iloc[j,8], 
                 service[pd.DatetimeIndex(service["Date Created"]).year == duringyear].iloc[j,7]) == True:
            during_count = during_count + 1
    
    during.append(during_count)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313

In [91]:
dat["during_requests"] = during
dat.to_csv(r"C:\Users\nalab\Desktop\Lectures\CISC451/temp2.csv")

In [176]:
collision = pd.read_csv(r"C:\Users\nalab\Desktop\Lectures\CISC451/CollisionReport.csv")
#collision.info()

In [177]:
collision["Accident Date"] = pd.to_datetime(collision["Accident Date"])

In [178]:
def slicer(my_str):
    if pd.isnull(my_str) == True:
        return my_str
    if pd.isnull(my_str) == False:
        my_str = str(my_str)
    index=my_str.find(' OF ')
    if index !=-1:
        return my_str[index+4:]
    else:
        return my_str
    
collision["From Street"] = collision["From Street"].apply(lambda x: slicer(x))

In [182]:
intersections = []
for i in range(len(collision)):
    x = collision.iloc[i,4]
    y = collision.iloc[i,5]
    if pd.isnull(x) == True:
        x = collision.iloc[i,7]
        y = collision.iloc[i,8]
        if pd.isnull(y) == True:
            y = collision.iloc[i,9]
    
    if x == y:
        print(i)
        break
    intersection = str(x + " @ " + y + ", Kingston, Ontario")
    intersections.append(intersection)

collision["INTERSECT"] = intersections

In [186]:
coordinates = []
rectangles = []

for i in range(len(collision)):
    x = collision.iloc[i,46]
    endpoint = f"{base_url}?address={x}&key={api_key}"
    r = requests.get(endpoint)
    
    try:
        results = r.json()['results'][0]
        lat = results['geometry']['location']['lat']
        lng = results['geometry']['location']['lng']
        coordinates.append([lat,lng])

    except:
        coordinates.append(None)
        rectangles.append(None)
        print("Problem with",i)
        continue
        
    if i % 10 == 0:
        print(i)

0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
Problem with 371
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990
1000
1010
1020
1030
1040
1050
1060
1070
1080
1090
1100
1110
1120
1130
1140
1150
1160
1170
1180
1190
1200
1210
1220
1230
1240
1250
1260
1270
1280
1290
1300
1310
1320
1330
1340
1350
1360
1370
1380
1390
1400
1410
1420
1430
1440
1450
1460
1470
1480
Problem with 1489
1490
Problem with 1500
1510
1520
1530
1540
1550
1560
1570
1580
1590
1600
1610
1620
1630
1640
1650
1660
1670
1680
1690
1700
1710
1720
1730
1740
1750
1760
1770
1780
1790
1800
1810
1820
1830
1840
1850
1860
1870
1880
1890
1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2010
2020
Problem with 2024
Problem with 2025
Problem with 2026
2030
2040
2050
2060
2070
2080
2090
2100
2110
2120
2130
2140
2150
2160
2170
2180
2190
2200
2210
2220
2230
2240
2250
2260
2270
2280
2290
2300
2310
2320
2330
2340
2350
2360
2370
2380
2390
2400
2410
2420
2430
2440
2450
2460
2470
2480
2490
2500
2510
2520
2530
2540
2550
2560
2570
2580
2590
2600
2610
2620
2630
2640
2650
2660
2670
2680
2690
2700
2710
2720
2730
2740
2750
2760
2770
2780
2790
2800
2810
2820
2830
2840
2850
2860
2870
2880
2890
2900
2910
2920
2930
2940
2950
2960
2970
2980
2990
3000
3010
3020
3030
3040
3050
3060
3070
3080
3090
3100
3110
3120
3130
3140
3150
3160
3170
3180
3190
3200
3210
3220
3230
3240
3250
3260
3270
3280
3290
3300
3310
3320
3330
3340
3350
3360
3370
3380
3390
3400
3410
3420
3430
3440
3450
3460
3470
3480
3490
3500
3510
3520
3530
3540
3550
3560
3570
3580
3590
3600
3610
3620
3630
3640
3650
3660
3670
Problem with 3672
Problem with 3673
3680
3690
3700
3710
3720
3730
3740
3750
3760
3770
3780
3790
3800
3810
3820
3830
3840
3850
3860
3870
3880
3890
3900
3910
3920
3930
3940
3950
3960
3970
3980
3990
4000
4010
4020
4030
4040
4050
4060
4070
4080
4090
4100
4110
4120
4130
4140
4150
4160
4170
4180
4190
4200
4210
4220
4230
4240
4250
4260
4270
4280
4290
4300
4310
4320
4330
4340
4350
4360
4370
4380
4390
4400
Problem with 4402
Problem with 4403
Problem with 4404
4410
4420
4430
4440
4450
4460
4470
4480
4490
4500
4510
4520
4530
4540
4550
4560
4570
4580
4590
4600
4610
4620
4630
4640
4650
4660
4670
4680
4690
4700
4710
4720
4730
4740
4750
4760
4770
4780
4790
4800
4810
4820
4830
4840
4850
Problem with 4855
4860
4870
4880
4890
4900
4910
4920
4930
4940
4950
4960
4970
4980
4990
5000
5010
5020
5030
5040
5050
5060
5070
5080
5090
5100
5110
5120
5130
5140
5150
5160
5170
5180
5190
5200
5210
5220
5230
5240
5250
5260
5270
5280
5290
5300
5310
5320
5330
5340
5350
5360
5370
5380
5390
5400
5410
5420
5430
5440
5450
5460
5470
5480
5490
5500
5510

In [202]:
collision["coordinates"] = coordinates
collision = collision[collision['coordinates'].notna()]
#collision.to_csv(r"C:\Users\nalab\Desktop\Lectures\CISC451/CollisionReport_coordinates.csv")

In [212]:
during = []
prior = []
for i in range(len(dat)):
    print(i)
    rect = dat.iloc[i,18]
    prioryear = dat.iloc[i,22].year
    duringyear = dat.iloc[i,19].year
    prior_count = 0
    during_count = 0 
    for j in range(len(collision[pd.DatetimeIndex(collision["Accident Date"]).year == prioryear])):
        if check(rect, 
                 collision[pd.DatetimeIndex(collision["Accident Date"]).year == prioryear].iloc[j,47][1], 
                 collision[pd.DatetimeIndex(collision["Accident Date"]).year == prioryear].iloc[j,47][0]) == True:
            prior_count = prior_count + 1
    
    prior.append(prior_count)

    for j in range(len(collision[pd.DatetimeIndex(collision["Accident Date"]).year == duringyear])):
        if check(rect, 
                 collision[pd.DatetimeIndex(collision["Accident Date"]).year == duringyear].iloc[j,47][1], 
                 collision[pd.DatetimeIndex(collision["Accident Date"]).year == duringyear].iloc[j,47][0]) == True:
            during_count = during_count + 1
    
    during.append(during_count)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313

In [216]:
dat["prior_collisions"] = prior
dat["during_collisions"] = during
dat.to_csv(r"C:\Users\nalab\Desktop\Lectures\CISC451/temp3.csv")

In [234]:
rectangles = []
year = []
value = []
#north
for i in range(len(traffic)):
    ymin = traffic.iloc[i,7][0]
    ymax = traffic.iloc[i,8][0]
    xmin = traffic.iloc[i,7][1]
    xmax = traffic.iloc[i,7][1] + 0.000001
    z = Rectangle(xmin,ymin,xmax,ymax)
    rectangles.append(z)
    year.append(traffic.iloc[i,1])
    value.append(traffic.iloc[i,2])
print("Done north.")

#south
for i in range(len(traffic)):
    ymin = traffic.iloc[i,9][0]
    ymax = traffic.iloc[i,7][0]
    xmin = traffic.iloc[i,7][1]
    xmax = traffic.iloc[i,7][1] + 0.000001
    z = Rectangle(xmin,ymin,xmax,ymax)
    rectangles.append(z)
    year.append(traffic.iloc[i,1])
    value.append(traffic.iloc[i,3])
print("Done south.")

#west
for i in range(len(traffic)):
    ymin = traffic.iloc[i,7][0]
    ymax = traffic.iloc[i,7][0] + 0.000001
    xmin = traffic.iloc[i,10][1]
    xmax = traffic.iloc[i,7][1]
    z = Rectangle(xmin,ymin,xmax,ymax)
    rectangles.append(z)
    year.append(traffic.iloc[i,1])
    value.append(traffic.iloc[i,5])
print("Done west.")

#east
for i in range(len(traffic)):
    ymin = traffic.iloc[i,7][0]
    ymax = traffic.iloc[i,7][0] + 0.000001
    xmin = traffic.iloc[i,7][1]
    xmax = traffic.iloc[i,11][1]
    z = Rectangle(xmin,ymin,xmax,ymax)
    rectangles.append(z)
    year.append(traffic.iloc[i,1])
    value.append(traffic.iloc[i,5])
print("Done all.")

Done north.
Done south.
Done west.
Done all.

In [238]:
traffic_rectangles = pd.DataFrame(
    {'year': year,
     'traffic': value,
     'rectangle': rectangles
    })

traffic_rectangles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2704 entries, 0 to 2703
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       2704 non-null   int64
 1   traffic    2704 non-null   object
 2   rectangle  2704 non-null   object
dtypes: int64(1), object(2)
memory usage: 63.5+ KB

In [248]:
traffic_rectangles["traffic"] = traffic_rectangles["traffic"].replace(',','', regex=True)
traffic_rectangles["traffic"]  = pd.to_numeric(traffic_rectangles["traffic"] )

In [249]:
def area(a, b):  # returns None if rectangles don't intersect
    dx = min(a.xmax, b.xmax) - max(a.xmin, b.xmin)
    dy = min(a.ymax, b.ymax) - max(a.ymin, b.ymin)
    if (dx>=0) and (dy>=0):
        return True

In [250]:
during = []
prior = []
for i in range(len(dat)):
    print(i)
    rect = dat.iloc[i,18]
    prioryear = dat.iloc[i,22].year
    duringyear = dat.iloc[i,19].year
    prior_count = 0
    during_count = 0 
    prior_value = 0
    during_value = 0
    for j in range(len(traffic_rectangles[traffic_rectangles["year"] == prioryear])):
        if area(rect, traffic_rectangles[traffic_rectangles["year"] == prioryear].iloc[j,2]) == True:
            prior_count = prior_count + 1
            prior_value = prior_value + traffic_rectangles[traffic_rectangles["year"] == prioryear].iloc[j,1]

    if prior_count == 0:
        prior.append(0)
    else:
        prior.append(prior_value/prior_count)

    for j in range(len(traffic_rectangles[traffic_rectangles["year"] == duringyear])):
        if area(rect, traffic_rectangles[traffic_rectangles["year"] == duringyear].iloc[j,2]) == True:
            during_count = during_count + 1
            during_value = during_value + traffic_rectangles[traffic_rectangles["year"] == duringyear].iloc[j,1]

    if during_count == 0:
        during.append(0)
    else:
        during.append(during_value/during_count)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313

In [254]:
dat["prior_traffic"] = prior
dat["during_traffic"] = during

In [255]:
dat.to_csv(r"C:\Users\nalab\Desktop\Lectures\CISC451/complete_raw.csv")